.scrollBtn{
    position: fixed;
    bottom: 5px;
    right: 20px;
    display: flex;;
    color:#fff;;
    font-size: 20px;
    padding: 5px 10px;
    border: 1px solid #ff4f00;
    transition: all 0.4s ease;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ff4f00;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
   
}